<% provide :title, @subject.name %>
  <div class="devise-content">
  <div class="row">
    <aside class="col-md-4">
      <section>
        <div class="subject">
          <p id="name"><%= @subject.name %></p>
          <p><%= @subject.description %><p>
        </div>
      </section>
    </aside>
  </div>
</div>
