<div class="center jumbotron">
  <div id="content">
    <h1><%= t "static_pages.wellcome" %></h1>
    <%= link_to t("static_pages.signup"), new_user_registration_path,
      class: "btn btn-lg btn-primary" %>
  </div>
</div>
<%= social_share_button_tag t("network.sharing") %>
