<div class="col-md-12 activity">
   <% @activities.each do |activity| %>
      <%= render "shared/activity", activity: activity %>
   <% end %>
   <%= render "shared/log" if current_user.admin? %>
   <%= paginate @activities %>
</div>
