/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require social-share-button
 *= require_self
 */
@import "bootstrap";
@import "bootstrap-sprockets";
@import "social-share-button";

header {
  background-color: #660066;
  height: 80px;
}

.center {
  text-align: center;
  padding-top: 100px;
}

footer {
  text-align: center;
  border-top: 1px solid #CCCCCC;
  margin-top: 100px;
}

#content {
  margin-top: 38px;
}

#content a {
  margin-top: 30px;
}

#logo {
  color: white;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  text-decoration: none;
  margin-top: 15px;
}

ul.nav.navbar-nav.navbar-right {
  margin-top: 15px;
}

ul.nav.navbar-nav.navbar-right li a {
  color: white;
  font-size: 20px;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color:transparent;
}
.devise-content {
  text-align: left;
  padding-top: 12px;
  height: 700px;
  margin-left: 400px;
  width: 1200px;
}

input{
  width: 400px;
}

.field {
  padding-bottom: 20px;
}

.edit{
  text-align: left;
}

.subject {
  border: 1px solid #CCCCCC;
}

#name {
  border-bottom: 1px solid #CCCCCC;
}

select#exam_subject_id {
  width: 150px;
}

input.btn.btn-md.btn-primary {
  width: 100px;
}

.container-fluid.text-center {
  margin-top: 81px;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.dropdown-menu {
  background-color: #660066;
}

ul.dropdown-menu  > li > a:hover, ul.dropdown-menu  > li > a:focus {
  background-color:transparent;
}

#newquestion {
  display: none;
}

.new-question {
  float: left;
  color: #428bca;
  font-size: 30px;
}

#new {
  display: none;
}

#wrapper{
  opacity: 0.6;
  height: 100%;
  width: 100%;
  display: none;
  background-color: black;
  position: absolute;
}

.new_question label {
  position: absolute;
  color: white;
}

input.btn.btn-sm.btn-primary {
  width: 100px;
}

form#user_search {
  float: left;
}

}

.tableshow {
  width: 100%;
  tr {
    margin-bottom: 20px;
  }
}

.attr-content {
  width: 40%;
}

.activity a {
  text-decoration: none;
}

.col-md-12.activity {
  text-align: left;
}

$size: 50px;
.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

form#user_search {
  margin-bottom: 30px;
}

.form-group {
  margin-right: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.table, th, td{
  text-align: left;
}

ul.nav.navbar-nav.navbar-right li a:hover {
  color: #240B3B;
}

li.dropdown.open > a:focus {
  background-color:transparent;
}

a.glyphicon.glyphicon-plus {
  float: left;
}

.content {
  text-align: left;
  margin-left: 123px;
}

input.btn.btn-md.btn-success {
  width: 80px;
}

input#score {
  width: 70px;
}

#search {
  float: left;
  font-size: xx-large;
  margin-bottom: 18px;
  text-decoration: none;
}

div#form_search {
  float: left;
  margin-left: 20px;
  display: none;
}

.success {
  background-color: #81F7F3;
  height: 50px;
  border-radius: 10px;
}

.danger {
  background-color: #F5A9BC;
  height: 50px;
  border-radius: 10px;
}

#form {
  margin-top: 20px;
}

.content-form form {
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
}
