/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "bootstrap-sprockets";

header {
  background-color: #660066;
  height: 80px;
}

.center {
  text-align: center;
  padding-top: 100px;
}

footer {
  text-align: center;
  border-top: 1px solid #CCCCCC;
  margin-top: 100px;
}

#content {
  margin-top: 38px;
}

#content a {
  margin-top: 30px;
}

#logo {
  color: white;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  text-decoration: none;
  margin-top: 15px;
}

ul.nav.navbar-nav.navbar-right {
  margin-top: 15px;
}

ul.nav.navbar-nav.navbar-right li a {
  color: white;
  font-size: 20px;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color:transparent;
}
.devise-content {
  text-align: left;
  padding-top: 80px;
  height: 700px;
}

input{
  width: 400px;
}

.field {
  padding-bottom: 20px;
}

.subject {
  border: 1px solid #CCCCCC;
}

#name {
  border-bottom: 1px solid #CCCCCC;
}

select#exam_subject_id {
  width: 150px;
}

input.btn.btn-md.btn-primary {
  width: 100px;
}

.container-fluid.text-center {
  margin-top: 81px;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
